<!--https://github.com/iamshaunjp/node-crash-course/blob/lesson-4/views/index.html   

https://github.com/iamshaunjp/node-crash-course/blob/lesson-7/views/index.ejs

-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js Crash Course <%= title%></title>
</head>
 <!--https://github.com/iamshaunjp/node-crash-course/blob/lesson-7/views/partials/nav.ejs   -->

<body>
  
    <nav>
        
        <div class="site-title">
          
          <a href="/"><h1>Blog Ninja</h1></a>
          <p>A Net Ninja Site</p>
        </div>
        <ul>
          <li><a href="/">Blogs</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blogs/create">New Blog</a></li>
        </ul>
      </nav>
     
      <div>

        <div class="blogs content">
          <h2>All Blogs</h2>
          
          <% if (blogs.length > 0) { %>
              <b>Number of blogs = <%= blogs.length  %> </b>
              <% blogs.forEach(blog => { %>
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>
              <% })  %>
              <% } else { %>
                <p>There are no blogs to display...</p>
          <% }  %>
      </div>


</body>
</html>